.label1 {
    color: #fff;
}

.ant-menu-title-content > a.active {
    color: #000 !important;
  }
  
  .ant-menu-title-content > a:not(.active) {
    color: #fff !important;
  }

   /* tile uploaded pictures */
/* .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 400px;
}

  .upload-list-inline {
    display: flex;
  }

  .upload-list-inline .ant-upload-list {
    padding-left: 15px;
  } */